# Data Structures
We've looked at variables and data types - now let's look at data strucutures. We'll examine `lists`, `tuples`, and `dictionaries`. We can use these to structure our data and variables together - which allows us to more easily load, clean, analyze, and visualize our data.

## Lists
A `list` is a group of data points collected in a sequence.  `Lists` are made with square brackets `[]`.  

In the example below, it's important to have quotes to denote that the list items are strings.  Otherwise, Python will interpret these items as named variables.

In [91]:
list_a = ['Melissa', 'Celine', 'Cemira', 'Iseria']
list_a

['Melissa', 'Celine', 'Cemira', 'Iseria']

One of the main things that we'll want to do with a list is access the list items. We can do this by using the list index.

The index of a list always starts at 0. Thus, Karina is the third item, or index 2, in the list.

In [92]:
list_a[2]

'Cemira'

A `negative index`, such as -1, references the first item at the end of the list. Calling a negative index can continue on from -1. For example, the third item from the end of the list is John.

In [93]:
list_a[-3]

'Celine'

Lists can contain any one data type and combinations of data types. In the following code block, list_b contains numeric data and list_c contains multiple data types.

In [94]:
# Create a numeric list
list_b = [12, 11, 13]
print(list_b)

# Create a mixed list
list_c = [1, 'a', True, 2.56]
print(list_c)

[12, 11, 13]
[1, 'a', True, 2.56]

A list can also contain items other than single points of data. For example, lists can contain other lists. In the example below, list_d contains list_a as well as a further data point of 'Pavel' while list_e contains lists, integers, and string data.

In [95]:
list_d = [list_a, 'Pavel']
print(list_d)

list_e = [list_c, list_b, 1, 9.63, 'a']
print(list_e)

[['Melissa', 'Celine', 'Cemira', 'Iseria'], 'Pavel']
[[1, 'a', True, 2.56], [12, 11, 13], 1, 9.63, 'a']

We can also combine multiple lists together to form one larger list. Notice how this is different than creating a list of lists, list_f contains seven individual data points but contains no lists, as we saw when creating list_d in the above example.

In [96]:
list_f = list_a + list_b
print(list_f)

['Melissa', 'Celine', 'Cemira', 'Iseria', 12, 11, 13]

## Manipulating Lists
The `sort()` function arranges list values in alphabetical or ascending order by default. However, we cannot sort lists that contain different types of data.

In [97]:
# Sort a string list
list_a.sort()
print(list_a)

['Celine', 'Cemira', 'Iseria', 'Melissa']

In [98]:
# Sort a numeric list
list_b.sort()
print(list_b)

[11, 12, 13]

In [99]:
# Sort a mixed list
list_c.sort()
print(list_c)

TypeError: '<' not supported between instances of 'str' and 'int'

If we want to sort a list in reverse order, from largest to smallest value, or reverse alphabetical order, we can use the reverse argument in the `sort()` function.

In [100]:
# Sort a string list in reverse alphabetical order
list_a.sort(reverse = True)
print(list_a)

['Melissa', 'Iseria', 'Cemira', 'Celine']

In [102]:
# Sort a numeric list in descending order
list_b.sort(reverse = True)
print(list_b)

[13, 12, 11]

A list is mutable, which means that we can edit and update our lists. This is an important point to note - as this ability to update, edit, and delete list items is a benefit of choosing to use this type of data structure.

In [115]:
# list_a in reverse sort order
print(list_a)

['Melissa', 'Oscar', 'Cemira', 'Celine', 'Tenebria', 'Rosie', 'Rosie']

We can add additional items to a list using the `append()` function.

In [119]:
# Append a new item, 'Rosie', to the list
list_a.append('Rosie')
print(list_a)

['Melissa', 'Oscar', 'Cemira', 'Celine', 'Tenebria', 'Rosie']

Stating the index of a list with an `=` sign replaces the value within that index.

In [118]:
# Replace the second list item, 'Rahul', with 'Oscar'
list_a[1] = 'Oscar'
print(list_a)

['Melissa', 'Oscar', 'Cemira', 'Celine', 'Tenebria']

 `'del'` removes the value within the list and realigns their respective indexes.

In [122]:
# Delete 'John' from the list
del list_a[3]
print(list_a)

['Melissa', 'Oscar', 'Celine', 'Rosie']

## Tuples
A tuple is a collection of values separated by comma and enclosed in `()`. It can contain all of the same items as a list: different data types as well as lists and tuples themselves.

In [123]:
# Create a string tuple
tuple_a = ('a', 'b', 'c')
print(tuple_a)

('a', 'b', 'c')

In [124]:
# Create a numeric tuple
tuple_b = (1, 2, 3)
print(tuple_b)

(1, 2, 3)

In [125]:
# Create a mixed tuple
tuple_c = (1, 'a', True, 2.56)
print(tuple_c)

(1, 'a', True, 2.56)

In [128]:
# Create a tuple of tuples
tuple_d = (tuple_b, list_a, tuple_c)
print(tuple_d)

((1, 2, 3), ['Melissa', 'Oscar', 'Celine', 'Rosie'], (1, 'a', True, 2.56))

As well as tuples containing lists, lists can also contain tuples.

In [129]:
list_g = [list_e, tuple_c]
print(list_g)

[[[1, 'a', True, 2.56], [13, 12, 11], 1, 9.63, 'a'], (1, 'a', True, 2.56)]

Similar to how we combined multiple lists into a larger list, we can do the same thing with tuples.

In [130]:
tuple_e = tuple_a + tuple_b
tuple_e

('a', 'b', 'c', 1, 2, 3)

As we've seen, tuples are similar to lists with one key difference: they are immutable, meaning they cannot be changed. This is important to note, as it can be a benefit of choosing this type of data structure - ensuring that the data can never be altered or deleted.

In [131]:
# Append a new item, 'a', to the tuple
tuple_a.append('a')
print(tuple_a)

AttributeError: 'tuple' object has no attribute 'append'

In [132]:
# Replace the second tuple item
tuple_a[1] = 'e'
print(tuple_a)

TypeError: 'tuple' object does not support item assignment

In [133]:
# Delete an item from the tuple
del tuple_a[3]
print(tuple_a)

TypeError: 'tuple' object doesn't support item deletion

## Dictionaries
A dictionary is a collection of unordered key value pairs and use `{}`. Dictionaries are mutable, meaning that they can be edited, and can be called by both their key or index. We can use the key as an index in the dictionary to return the values associated with that key.

In [134]:
# A dictionary containing the first name, last name, and age for one person
dict_a = {'first_name': 'Frank', 'last_name': 'Park', 'age': 20}
dict_a

{'first_name': 'Frank', 'last_name': 'Park', 'age': 20}

In [135]:
dict_a['first_name']

'Frank'

Dictionaries do not allow duplicates: all key value pairs must be unique. This is different from a list, that can contain duplicate values.

In [136]:
# A list containing duplicate values
list_g = ['Frank', 'Frank']
list_g

['Frank', 'Frank']

In [137]:
# A dictionary with a duplicate key and value pair
dict_b = {'first_name': 'Frank', 'first_name': 'Frank', 'last_name': 'Park', 'age': 20}
dict_b

{'first_name': 'Frank', 'last_name': 'Park', 'age': 20}

In [138]:
# A dictionary with a duplicate key, only the last value gets printed
dict_c = {'first_name': 'Frank', 'first_name': 'Frank1', 'last_name': 'Park', 'age': 20}
dict_c

{'first_name': 'Frank1', 'last_name': 'Park', 'age': 20}

A common method for creating dictionaries is using lists. The list name is the key, and the list items are the values.

In [142]:
sales = [100, 200, 240, 400, 100, 500]
stores = ['Store A', 'Store B', 'Store A', 'Store C', 'Store D', 'Store B']

dict_sales = {'sales': sales, 'stores': stores}
dict_sales

{'sales': [100, 200, 240, 400, 100, 500],
 'stores': ['Store A', 'Store B', 'Store A', 'Store C', 'Store D', 'Store B']}

 To further inspect all of the items in a dictionary, we can use the `items()` function. We can use the `items()` function when using a `for loop` with a dictionary. This allows us to access both the key and values in a dictionary. We'll see this a little bit later in this chapter.

In [143]:
dict_sales.item()

AttributeError: 'dict' object has no attribute 'item'